html {
  background-color: #b8e1dd;
  color: #062925;
  font-family: Monospace;
}

/*Nav Bar Styles*/
nav {
  background-color: #044a42;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  margin: 0;
}

nav li {
  display: inline-block;
  list-style-type: none;
  padding: 5px;
  margin: 0 15px;
}

nav li a {
  color: #b8e1dd;
  padding: 10px;
}

nav li a:hover {
  color: #3a9188;
}

/*Body Styles*/
body {
  padding: 0;
  margin: 0;
}

body header h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px
}

body main {
  padding: 10px;
  margin: 5px;
}

body main p {
  padding: 5px;
  font-size: 1.15em;
}

body main p a {
  color: #044a42;
}

body main p a:hover {
  color: #3a9188;
}

body footer {
  font-style: italic;
  padding: 10px;
  margin: 5px;
}

body footer a {
  color: #044a42;
}

body footer a:hover {
  color: #3a9188;
}

body footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
