html {
  background-color: #b8e1dd;
  color: #062925;
  font-family: Monospace;
}

/*Nav Bar Styles*/
nav {
  background-color: #044a42;
  border: 2px solid #062925;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  list-style-type: none;
  border: 2px solid black;
  margin: 0 15px;
}

nav li a {
  color: #b8e1dd;
  padding: 10px;
}

nav li a:hover {
  color: #3a9188;
}

/*Body Styles*/
body header h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body footer {
  font-style: italic;
}
