<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  
<footer>
  <ul>
    <li><a href="https://github.com/Trutkow0" target="_blank">GitHub</a></li>
    <li><a href="https://trutkow0.github.io/" target="_blank">GitHub.io</a></li>
    <li><a href="https://trutkow0.github.io/web115/index.html" target="_blank">WEB115.io</a></li>
    <li><a href="https://www.codecademy.com/profiles/TER96" target="_blank">Codecademy</a></li>
    <li><a href="https://www.freecodecamp.org/TER96" target="_blank">freeCodeCamp</a></li>
    <li><a href="https://jsfiddle.net/user/fiddles/all/" target="_blank">JSFiddle</a></li>
    <li><a href="https://www.linkedin.com/in/tim-rutkowski-8a1b0a24a/" target="_blank">Linkedin</a></li>
  </ul>
  <p>Page built by RMMGT-Worlwide</p>
</footer>

</html>
