<header>
    <figure class="header-figure"><img src="images/TR_header.png" alt="Tenacius Raccoon logo" width="125" height="95"></figure>
    <h1 class="header-1">Timothy Rutkowski's Tenacious Raccoon</h1> 
    
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="introduction.html">Introduction</a></li>
            <li><a href="contract.html">Course Contract </a></li>
            <li><a href="brand.html">Brand Guidelines</a></li>
            <!-- Dropdown menu for Fizz Buzz -->
            <li class="dropdown">
            <a href="#" class="dropdown-toggle">Fizz Buzz <span class="carrot">^</span></a>
                <ul class="dropdown-menu">
                    <li><a href="fizzbuzz0.html">Fizz Buzz 0</a></li>
                    <li><a href="fizzbuzz1.html">Fizz Buzz 1</a></li>
                    <li><a href="fizzbuzz2.html">Fizz Buzz 2</a></li>
                    <li><a href="fizzbuzz3.html">Fizz Buzz 3</a></li>
                    <li><a href="fizzbuzz4.html">Fizz Buzz 4</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
