<html lang="en-US" dir="ltr">
    
<nav>
    <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="introduction.html">Introduction</a></li>
            <li><a href="contract.html">Course Contract </a></li>
            <li><a href="brand.html">Brand Guidelines</a></li>
            <li><a href="fizzbuzz0.html">Fizz Buzz 0</a></li>
            <li><a href="fizzbuzz1.html">Fizz Buzz 1</a></li>
            <li><a href="fizzbuzz2.html">Fizz Buzz 2</a></li>
            <li><a href="fizzbuzz3.html">Fizz Buzz 3</a></li>
    </ul>
</nav>

</html>
