html {
    background-color: #BCC5AA;
    color: #36454F;
    font-family: monospace;
    padding: 0;
    margin: 0;
  }
  
  header {
    background-color: #36454F;
    margin: 0;
    height: 80px;
  }

  /*Nav Bar Styles*/
  nav {
    background-color: #302924;
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 0;
    
  }
  
  nav li {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    margin: 0 15px;
    font-size: 1.5em;
  }
  
  nav li a {
    color: #BCC5AA;
    padding: 10px;
    text-decoration: none;
  }
  
  nav li a:hover {
    color: #D97335;
  }

  figure {
    display: block;
    margin: 0 -100px;
    text-align: center;
  }

  /*Styles with Same Flex Display, Direction, and Alignment*/
  body main center, body footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*Heading Styles*/
  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    margin: 50px auto;
    font-size: 2.5em;
    color: #BCC5AA;
  }

  h2 {
    font-size: 2em;
    color: #302924;
    text-align: center;
  }

  h3 {
    font-size: 1.5em;
    margin-top: 25px;
    margin-bottom: 0;
    color: #302924;
  }

  /*Body Styles*/
  body {
    padding: 0;
    margin: -50px 0 0 0;
  }

  body main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 200px;
  }
  
  body main p {
    padding: 5px;
    font-size: 1.5em;
  }
  
  body main p a {
    color: #302924;
  }
  
  body main p a:hover {
    color: #D97335;
  }


  body main ul {
    font-size: 1.5em;
    margin-top: 0;
  }

  body main ul li {
    margin-top: 25px;
  }

  body main li ul {
    font-size: 1em;
  }

  /*Footer Styles*/
  footer {
    margin-top: 25px;
    font-size: 1.25em;
    background-color: #36454F;
    color: #BCC5AA;
  }
  
  footer a {
    color: #BCC5AA;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #D97335;
  }
  
  footer p a {
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
  
  footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #302924;
    padding: 10px;
    margin: 0;
  }
  
  footer li {
    display: inline-block;
    list-style-type: none;
    padding: 15px;
    margin: 0;
  }

  /*Form Styles*/
  form {
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    padding: 25px 25px 0;
    background-color: #abb693;
    color: #302924;
    margin: 0 auto;
    font-size: 1.25em;
    box-shadow: 3px 3px 3px #302924, 6px 6px 6px #3a312b, 9px 9px 9px #423831;
  }

  input {
    margin-bottom: 25px;
    padding: 5px;
    font-size: 1.15em;
    color: #302924;
    background-color: #BCC5AA;
    border-radius: 2.5%;
  }

  form #submit {
    background-color: #D97335;
    color: #BCC5AA;
    font-style: normal; 
    border-radius: 2.5%;
  }

  /*output-container styles for Fizz Buzz*/
  #output-container {
    display: none;
    margin: 25px auto;
    padding: 0 50px;
    background-color: #abb693;
    color: #302924;
    box-shadow: inset 0px 2px 5px #302924;
    overflow-y: auto;
    max-height: 510px;
  }

  /*Run button styles for Fizz Buzz 1*/
  #run-count {
    display: block;
    margin: 0 auto;
    background-color: #D97335;
    color: #BCC5AA;
    padding: 10px 20px;
    font-size: 1.5em;

  }
